# Congratulate on birthday on 10:28 every day
28 10 * * * pybot --variable Username:[username] --variable Password:[pasword] --outputdir output/$(date +\%d-\%m-\%Y)/ birthdays.robot

# Poke back every poke on Friday on 15:28 every week 
#28 15 * * 5 pybot --outputdir output/ pokes.robot
